.bgimage {
    height: 100vh;
    background: url('img/A_black_image.png');
    background-size: cover;
    position: relative;
}


/* text css above hero image*/

.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/* about section image css */

.imageAboutPage {
    width: 100%;
}